.navbar {
  width: 100%;
  position: fixed;
  background: #521751;
  height: 56px;
  top: 0;
  left: 0;
}

.navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__navigation-items {
  display: flex;
}

.navbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__navigation-items li {
  padding: 0 0.5rem;
}

.navbar__navigation-items a {
  color: white;
  text-decoration: none;
}

.navbar__navigation-items a:hover,
.navbar__navigation-items a:active {
  color: #fa923f;
}

@media (max-width: 768px) {
  .navbar__navigation-items {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar__toggle-button {
    display: none;
  }
}
